body {
    height: fit-content;
};



/* #button {
    font-weight: bolder;
} */

.h1 {
    color: white;
    margin: 10px;
}

.container {
    float: left;
}

.navbar-brand-blazers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 220px; 
    
}

.navbar-brand-timbers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 362px; 
    
}

.navbar-brand-beavers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 240px; 
    
}

.navbar-brand-ducks {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 386px; 
    
}

.navbar-brand-home {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 285px; 
    
}
.card-blazers  {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: larger;
}

.card-ducks  {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: larger;
    
}

.card-beavers {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: larger; 
}

.card-timbers {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: larger; 

}

.card-home {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: larger;

}
