body {
    height: fit-content;
};



#button {
    font-weight: bolder;
}

.h1 {
    color: white;
    margin: 10px;
}

.container {
    float: left;
}

.navbar-brand-blazers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 220px; 
    
}

.navbar-brand-timbers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 362px; 
    
}

.navbar-brand-beavers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 240px; 
    
}

.navbar-brand-ducks {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 386px; 
    
}

.navbar-brand-home {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 550px; 
    
}
.card-blazers  {
    background-image: url("../images/blazers.jpeg");
    height: 100%;
    color: white;
    padding-top: 50px; 
}

.card-ducks  {
    background-image: url("../images/ducks.png");
    height: 100%;
    color: white;
    padding-top: 50px; 
}

.card-beavers {
    background-image: url("../images/beavers.png");
    height: 100%;
    color: white;
    padding-top: 50px; 
}

.card-timbers {
    background-image: url("../images/timbers.png");
    height: 100%;
    color: white;
    padding-top: 50px; 

}

.card-home {
    background-image: url("../images/oregon.png");
    height: 100%;
    color: white;
    padding-top: 50px; 

}
