body {
    height: fit-content;
};



#button {
    font-weight: bolder;
}

.h1 {
    color: white;
    margin: 10px;
}

.container {
    float: left;
}

.navbar-brand-blazers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 220px; 
    
}

.navbar-brand-timbers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 220px; 
    
}

.navbar-brand-beavers {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 220px; 
    
}

.navbar-brand-ducks {
    margin-left: 275px;
    font-size: 45px;
    padding-right: 385px; 
    
}
.card-blazers  {
    background-image: url("../images/blazers.jpeg");
    height: 100%;
    color: white;
    padding-top: 50px; 
}

.card-ducks  {
    background-image: url("../images/blazers.jpeg");
    height: 100%;
    color: white;
    padding-top: 50px; 
    
    
}